html {
  height: 100%;
  display: grid;
  background: #000;
  place-items: center;
}

.box {
  --border-size: 6px;
  --border-angle: 0turn;
  width: 60vmin;
  height: 50vmin;
  background-image: conic-gradient(from var(--border-angle), #fff 40%, #fff),
    conic-gradient(
      from var(--border-angle),
      transparent 40%,
      rgb(255, 57, 2),
      rgb(43, 0, 255)
    );
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation: bg-spin 2s linear infinite;
}
.box:hover {
  animation-play-state: paused;
  background-image: conic-gradient(
      from var(--border-angle),
      rgb(255, 57, 2),
      50%,
      rgb(255, 57, 2)
    ),
    conic-gradient(
      from var(--border-angle),
      rgb(255, 57, 2),
      rgb(255, 57, 2),
      rgb(255, 57, 2)
    );
    
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
@property --border-angle {
  syntax: '<angle>';
  inherits: true;
  initial-value: 0turn;
}

.card_img {
  background-image: url('../../public/bgcard.gif');
  height: 100%;
  width: 100%;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  overflow: hidden;
}
.in_box {
  position: fixed;
  border: rgb(38, 255, 0) solid 3px;
  width: calc(60vmin - 16px);
  height: calc(50vmin - 16px);
  margin: 6px 10px 16px 6px;
}

.card_content {
  margin: 1rem 1rem 0.5rem 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  word-spacing: 2px;
  word-wrap: inherit;
}
.card_content h1 {
  color: #fff;
}
.card_content p {
  color: rgb(252, 5, 5);
}

@media (max-width: 1200px) {
  .card_content p + p {
    color: aqua;
    font-size: 16px;
    text-align: center;
    text-overflow: ellipsis;
    padding: 0px 0.5rem 0px 0.5rem;
    white-space: nowrap;
    overflow: hidden;
  }
}
@media (max-width: 768px) {
  .card_content p + p {
    color: aqua;
    font-size: 16px;
    text-align: center;
    text-overflow: ellipsis;
    padding: 0px 0.5rem 0px 0.5rem;
    white-space: nowrap;
    overflow: hidden;
  }
}
@media screen and (max-width: 600px) {
  .card_content {
    font-size: 16px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
  }
  .card_content h1 {
    font-size: calc(0.5em + 1vw);
    text-align: center;
  }
  .card_content p {
    font-size: 10px;
    padding: 0px 0.5rem 0px 0.5rem;
    text-align: center;
  }
  .card_content p + p {
    color: aqua;
    font-size: 8px;
    text-align: center;
    text-overflow: ellipsis;
    padding: 0px 0.5rem 0px 0.5rem;
    white-space: nowrap;
    overflow: hidden;
  }
}
